---
import type { GetStaticPaths } from 'astro';

import Layout from '@/components/layout.astro';
import Project from '@/components/project.astro';

import { loadTranslations } from '@/lib/translate';
import type { Locale } from '@/lib/types';

export const prerender = true;

type Props = { lang: Locale };

export const getStaticPaths = (() => [
  { params: { lang: 'en' }, props: { lang: 'en' } },
  { params: { lang: 'nl' }, props: { lang: 'nl' } },
  { params: { lang: undefined }, props: { lang: 'nl' } },
]) satisfies GetStaticPaths;

const { t, locale } = await loadTranslations(Astro.props.lang);

const projects = [
  {
    ...t.projects.bron,
    href: '/bron',
    from: '2024',
    to: t.now,
  },
  {
    ...t.projects.statenkandidaten,
    href: '/statenkandidaten',
    from: '2023',
    to: '2023',
  },
  {
    ...t.projects.beterdanhugo,
    href: '/beterdanhugo',
    from: '2021',
    to: '2022',
  },
  {
    ...t.projects.nieuwindekamer,
    href: '/nieuwindekamer',
    from: '2020',
    to: '2021',
  },
];

// const presentations = [
//   {
//     title: 'Reverse-Engineering Government Transparency',
//     href: 'https://media.ccc.de/v/why2025-186-reverse-engineering-government-transparency',
//     event: 'WHY2025',
//     event_href: 'https://why2025.org/',
//     location: 'Geestmerambacht',
//     date: '2025-08-09',
//   },
//   {
//     title: 'Zonder digitale transparantie geen democratie',
//     event: 'GroenLinks-PvdA Digital Summit',
//     event_href:
//       'https://netwerkdigitalesamenleving.groenlinks.nl/digital-summit-2025',
//     location: 'Zwolle',
//     date: '2025-06-14',
//   },
//   {
//     title: 'The state of government transparency in the Netherlands',
//     href: 'https://www.youtube.com/watch?v=I2D34Vehdzc',
//     event: 'TICTeC',
//     event_href:
//       'https://tictec.mysociety.org/event/tictec-2025-mechelen-online/',
//     location: 'Mechelen',
//     date: '2025-06-11',
//   },
// ];
---

<Layout>
  <section>
    <p class="" set:html={t.about.description} />
  </section>
  <section>
    <h2 class="mt-8 mb-4 text-lg font-bold text-neutral-100">Contact</h2>
    <hr class="mb-4 border-neutral-700" />
    <p set:html={t.about.contact} />
  </section>
  <!-- <section>
    <h2 class="mt-8 mb-4 text-lg font-bold text-neutral-100">
      {t.presentations.title}
    </h2>
    <hr class="mb-4 border-neutral-700" />
    <ul>
      {
        presentations.map((presentation) => (
          <li class="mb-4">
            <span class="text-neutral-400">*</span>
            <a
              class="font-bold"
              href={presentation.href}
              rel="noopener noreferrer"
              target="_blank">
              &ldquo;{presentation.title}&rdquo;
            </a>
            ,{' '}
            <a
              href={presentation.event_href}
              rel="noopener noreferrer"
              target="_blank">
              {presentation.event}
            </a>{' '}
            in {presentation.location},{' '}
            {new Date(presentation.date).toLocaleDateString(locale, {
              year: 'numeric',
              month: 'long',
            })}
          </li>
        ))
      }
    </ul>
  </section> -->
  <section>
    <h2 class="mt-8 mb-4 text-lg font-bold text-neutral-100">
      {t.projects.title}
    </h2>
    <hr class="mb-4 border-neutral-700" />
    {
      locale === 'en' && (
        <p class="my-6 text-neutral-400">
          All my projects are currently in Dutch only, so please do reach out if
          you need some more context!
        </p>
      )
    }
    {projects.map((project) => <Project {...project} />)}
  </section>

  <footer class="mt-8 text-sm text-neutral-400">
    <hr class="mb-8 border-neutral-700" />
    <p>
      {t.footer}
      {
        new Date().toLocaleDateString(locale, {
          year: 'numeric',
          month: 'long',
        })
      }.
    </p>
  </footer>
</Layout>
