---
import favicon from '@/assets/favicon.png';
import headshot from '@/assets/headshot.avif';
import { state } from '@/lib/translate';

type Props = { title?: string };

const defaultTitle = 'Quinten Coret';
const title = Astro.props.title
  ? `${Astro.props.title} – ${defaultTitle}`
  : defaultTitle;

const { t, locale } = state;
---

<!doctype html>
<html lang={locale}>
  <head>
    <meta charset="UTF-8" />
    <link rel="canonical" href={Astro.request.url} />
    <link rel="alternate" hreflang={t.meta.other} href={`/${t.meta.other}/`} />
    <meta name="description" content="CV - Quinten Coret" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href={favicon.src} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main class="mx-auto my-12 max-w-lg space-y-10 px-4">
      <header>
        <nav class="mb-8 flex items-center justify-between">
          <a href="/" class="flex items-center gap-6 !no-underline">
            <img
              src={headshot.src}
              width="64"
              height="64"
              class="rounded-full border border-neutral-700"
              loading="eager"
              alt={t.about.name}
            />
            <h1 class="text-2xl font-[625] text-neutral-100">{t.about.name}</h1>
          </a>
          <a href={`/${t.meta.other}/`}>{t.meta.otherLocalizedName}</a>
        </nav>
      </header>
      <slot />
    </main>
  </body>
</html>

<style is:global>
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-display: swap;
    font-weight: 300 700;
    src: url(@fontsource-variable/quicksand/files/quicksand-latin-wght-normal.woff2)
      format('woff2-variations');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191,
      U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
    font-family: 'Quicksand', system-ui, sans-serif, 'Apple Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    @apply bg-neutral-900 font-medium text-neutral-300;
  }

  a[href] {
    @apply font-bold text-pink-400 underline decoration-pink-400/0 transition hover:decoration-pink-400/70;
    -webkit-text-decoration-style: wavy;
    -moz-text-decoration-style: wavy;
    text-decoration-style: wavy;
  }

  ::selection {
    @apply bg-pink-500/20;
  }
</style>
