---
import favicon from '@/assets/favicon.png';
import { state } from '@/lib/translate';
import Emoji from './emoji.astro';

type Props = { title?: string };

const defaultTitle = 'Quinten Coret';
const title = Astro.props.title
  ? `${Astro.props.title} – ${defaultTitle}`
  : defaultTitle;

const { t, locale } = state;
---

<!doctype html>
<html lang={locale}>
  <head>
    <meta charset="UTF-8" />
    <link rel="canonical" href={Astro.request.url} />
    <link rel="alternate" hreflang={t.meta.other} href={`/${t.meta.other}/`} />
    <meta name="description" content="CV - Quinten Coret" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href={favicon.src} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main class="mx-auto my-10 max-w-lg space-y-10 px-4">
      <header>
        <nav class="mb-8 flex items-center justify-between">
          <a href="/" class="flex items-center gap-6 hover:!no-underline">
            <img
              src={favicon.src}
              width="64"
              height="64"
              class="rounded-full border border-neutral-700"
              loading="eager"
              alt={t.about.name}
            />
            <h1 class="text-xl font-bold text-white">{t.about.name}</h1>
          </a>
          <a href={`/${t.meta.other}/`}>{t.meta.otherLocalizedName}</a>
        </nav>
      </header>
      <slot />
      <footer>
        <hr class="mb-4 border-neutral-700" />
        <p>
          <a href={Astro.url.pathname === '/slugs' ? '/' : '/slugs'}>
            <Emoji />
          </a>
          <span class="ml-2">{new Date().getFullYear()}</span>
          <span class="text-neutral-500">{' — '}</span>
          {t.footer.pronouns[0]}
          <span class="text-neutral-500">/</span>
          {t.footer.pronouns[1]}
        </p>
      </footer>
    </main>
  </body>
</html>

<style is:global>
  html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
    font-family: system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol', 'Noto Color Emoji';
    @apply bg-neutral-900 text-neutral-300;
  }

  a[href] {
    @apply font-medium text-pink-400 hover:underline;
  }
</style>
