---
type Props = {
  title: string;
  description: string;
  href: string;
  from: string;
  to?: string;
};

const { title, description, href, from, to } = Astro.props;

const date = from === to ? from : `${from} – ${to ?? 'now'}`;
---

<article class="my-4 grid grid-cols-3 items-center">
  <h3 class="col-span-2 my-2">
    <a {href}>{title}</a>
  </h3>
  <p class="text-right text-neutral-400">{date}</p>
  <p class="col-span-3">
    <Fragment set:html={description} />
  </p>
</article>
